 
html {
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
}
#entete, #menu, #contenu, #footer{
  padding:1px 0;
  margin: 0;
}
#entete {
  background-color: #313536;
  height: 20px;

}
#main {
  height: 100%;
  margin:0;
}
#menu  {
  float:left;
  height: 100%;
  width:200px;
  background-color: #313536;
}
#contenu {
  height: 100%;
  margin-left:200px;
  background-color:gray;
}


header {
    color : white;
    grid-column: 1/-1;
  }


 a {
    padding-top: 12.5px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 0.3s;
  }

 a:hover {
    color: #f1f1f1;
  }

#Inputtxt {
  margin-top: 4%;
  height: 85%;
  width: 80%;
  margin-left: 10%;
  background-color:white;
  position: center;
  overflow-y: auto;
}

#input {
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}

button {
  margin-left: 5%;
  transition-duration: 0.4s;
  border-radius: 8px;
  padding: 8px 15px;
  font-size: 12px;
  background-color: white;
  color: black;
  border: 0.5px solid #313536;;
}

button:hover {
  background-color: #313536;
  color: white;
}