html {
  height: 100%;
}
body{
  margin: 0;
  height: 600px;
  width: 1000px;
}
#entete, #menu, #contenu, #footer{
  padding:1px 0;
  margin: 0;
}
#entete {
  background-color: #5A8060;
  height: 20px;
  color:white;
}



#top {
  color: #F1F1F1;
}

#top:hover {
  font-weight: bold;
}

#main {
  height: 100%;
  margin:0;
}
#menu  {
  float:left;
  height: 100%;
  width:200px;
  background-color: #B5C7B8;
}
#contenu {
  height: 100%;
  margin-left:200px;
  background-color:#F5F5F5;
}

header {
  color : white;
  grid-column: 1/-1;
  }


a {
  padding-top: 12.5px;
  padding-left: 5px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  transition: 0.3s;
  border: transparent;
}

a.input-txt:hover {
  border: solid;
  border-width: thin;
}
.input-txt-toggle {
  border: solid;
  border-width: thin;
}
.input-txt{
  border : transparent;
}

#Inputtxt {
  margin-top: 2%;
  height: 96%;
  width: 70%;
  margin-left: 2%;
  margin-right: 2%;
  background-color:white;
  display: inline-block;
  overflow-y: auto;
}

#input {
  text-decoration: none;
  width: 98%;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}

#WriteBtn {
  margin-top: 10%;
}

button{
  margin-left: 15%;
  margin-top: 4%;
  transition-duration: 0.4s;
  border-radius: 6px;
  padding: 8px 15px;
  font-size: 12px;
  background-color: #F1F1F1;
  color: black;
  border: 0.3px solid #5A8060;
  width:70%;
}

button:hover {
  background-color: #5A8060;
  color: white;
}

#annotation {
  margin-top: 2%;
  height: 96%;
  width: 24%;
  background-color:white;
  margin-right: 2%;
}

#ent {
  background-color: #B5C7B8;
  height: 3%;
  width: 100%;
  color : white;
  text-align: center;
}

.test {
  float: left;
}

.search {
  display: block;
  overflow: auto;
  text-align: left;
}


#mySearch {
  width: 100%; /* Full-width */
  font-size: 10px; /* Increase font-size */
  padding: 12px 20px 12px 10px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
}

#annList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#annList li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: white;
  /* background-color: #f6f6f6; Grey background color */
  padding: 2px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 12px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#annList li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

